@media (min-width: 400px) {
    .container {
        position: relative;
        overflow: hidden;
        height: 180px;
        width: 300px;
        margin: auto;
        border: 2px solid black;
        display: flex;
    }
    li {
        list-style: none;
        position: absolute;
        height: 200px;
        width: 300px;
    }
}
