.container {
    position: relative;
    overflow: hidden;
    height: 300px;
    width: 500px;
    margin: auto;
    border: 2px solid black;
    display: flex;
}

.slide {
    top: 40px;
}

.fadeIn {
    opacity: 0;
}

.listLeft {
    animation-name: listLeft;
}

.fadeOut {
    animation-name: fade;
}

.listRight {
    animation-name: listRight;
}

.clearSlide {
    left: -500px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    position: absolute;
    height: 300px;
    width: 500px;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes listRight {
    from {left: -500px;}
    to {left: 0;}
}


@keyframes listLeft {
    from {left: 0;}
    to {left: -500px;}
}