.fade {
    position: relative;
    overflow: hidden;
    height: 300px;
    width: 500px;
    margin: auto;
    border: 2px solid black;
    display: flex;
}

.slide {
    position: relative;
    overflow: hidden;
    height: 300px;
    width: 500px;
    top: 40px;
    margin: auto;
    border: 2px solid black;
    display: flex;
}

.fade > div {
    height: 300px;
    width: 500px;
    position: absolute;
    display: inherit;
}

div > image {
    position: inherit;
    height: 100%;
    width: 100%; 
}

.fadeIn {
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.listLeft {
    position: absolute;
    animation-name: listLeft;
    animation-duration: 0.5s;
}

.fadeOut {
    position: absolute;
    animation-name: fade;
    animation-duration: 0.5s;
}

.listRight {
    position: absolute;
    animation-name: listRight;
    animation-duration: 0.5s;
}

.clearFade {
    opacity: 0;
}

.clearSlide {
    left: -500px;
}

.image {
    position: absolute;
    background-repeat: no-repeat;
    font-size: 150px;
}

ul {
    padding: 0px;
    margin: 0px;
}

li {
    list-style: none;
    position: absolute;
    height: 100%;
    width: 100%; 
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes listRight {
    from {left: -500px;}
    to {left: 0px;}
}


@keyframes listLeft {
    from {left: 0px;}
    to {left: -500px;}
}